.main::-webkit-scrollbar {
  width: 0px;
}
.main {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: white;
  font-family: var(--font-playd);
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}
.title {
  color: #000;
  text-align: center;
  font-size: 3.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 106%; /* 3.445rem */
}
.sub_head {
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0.75rem;
}
.btn {
  border: 1px solid #EFEFEF;
  background-color: transparent;
  padding: 0.5rem 1.25rem;
  margin: 1.25rem 0rem;
}
.idea {
  transition: all 0.5s ease-in-out;
}
.btn:hover{
  background-color: #EFEFEF;
  transition: all 0.2s ease-in-out;
}
