.main::-webkit-scrollbar {
  width: 0px;
}
.main {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: white;
  font-family: var(--font-playd);
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}
.title {
  color: #000;
  text-align: center;
  font-size: 3.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 106%; /* 3.445rem */
}
.sub_head {
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0.75rem;
}
.btn {
  border: 1px solid #efefef;
  background-color: transparent;
  padding: 0.5rem 1.25rem;
  margin: 1.25rem 0rem;
}
@keyframes fadeIn {
  from {
    height: 0rem;
    opacity: 0;
  }
  to {
    height: 4rem;
    opacity: 1;
  }
}
.wo_idea {
  height: 2rem;
  width: 2rem;
  opacity: 0;
}
.idea {
  animation: fadeIn 1.5s;
  height: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: var(--font-poppins);
  padding: 20px;
  border: 1px solid #efefef;
}
.idea p{
  margin: 0.5rem 0rem;
}
.btn:hover {
  background-color: #efefef;
  transition: all 0.2s ease-in-out;
}
